.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .section {
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px;
    text-align: left;
  }
  
  .timeline {
    margin-top: 20px;
  }
  
  .event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
  }
  
  .date {
    min-width: 100px;
    background-color: #00aaff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    outline: none; 
  }
  
  .description {
    flex-grow: 1;
  }
  
  .line {
    height: 2px;
    width: 100%;
    background-color: #00aaff;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skillBar {
    width: 45%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .skillName {
    outline: none;
    font-weight: bold;
    color: #333; 
  }
  
  .pointContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .point {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 2px;
  }
  
  .filled {
    background-color: #00aaff;
  }