@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

.page {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 0 300px;
  }
  
  .aboutButton {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 20px;
    bottom: 10%;
    padding: 15px 35px;
    margin: 10px auto 0; 
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 25px;
  }
  
  .aboutButton:hover {
    background-color: #00aaff;
    color: #fff;
  }